@mixin mq($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);

    @if($size) {
        @media (min-width: $size) {
            @content;
        }
    }

    @else {
        @error '"#{$breakpoint}" - error'
    }
}

;

@mixin burger-ingredient($height) {
    width: 250px;
    aspect-ratio: calc(250/$height);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}