// COLORS
$background: #76564B;
$elements: #FEFCE7;
$add: #90F26D;
$remove: #F56565;
$info: #68BDFB;
$error: #FA0404;
$dark: #000000;
$light: #ffffff;

$font: 'Snowburst One', cursive;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);