@import '../../sass/variables';
@import '../../sass/mixins';

.favourite-burger {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.favourite-burger__bottomBun {
    background-image: url(../../assets/pictures/bottom-bun.png);
    @include preview-burger-ingredient(50);
}

.favourite-burger__topBun {
    background-image: url(../../assets/pictures/top-bun.png);
    @include preview-burger-ingredient(107);
}

.favourite-burger__tomato {
    background-image: url(../../assets/pictures/tomato.png);
    @include preview-burger-ingredient(43);
}

.favourite-burger__cheese {
    background-image: url(../../assets/pictures/cheese.png);
    @include preview-burger-ingredient(37);
}

.favourite-burger__burger {
    background-image: url(../../assets/pictures/burger.png);
    @include preview-burger-ingredient(37);
    background-size: cover;
}

.favourite-burger__fish {
    background-image: url(../../assets/pictures/fish.png);
    @include preview-burger-ingredient(37);
    background-size: cover;
}

.favourite-burger__lettuce {
    background-image: url(../../assets/pictures/lettuce.png);
    @include preview-burger-ingredient(27);
}