@import '../../sass/mixins';

.custom-burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 250px;
    min-height: 200px;
    margin: 0 auto;
}

.custom-burger__bottomBun {
    background-image: url(../../assets/pictures/bottom-bun.png);
    @include burger-ingredient(50);
}

.custom-burger__topBun {
    background-image: url(../../assets/pictures/top-bun.png);
    @include burger-ingredient(107);
}

.custom-burger__tomato {
    background-image: url(../../assets/pictures/tomato.png);
    @include burger-ingredient(43);
}

.custom-burger__cheese {
    background-image: url(../../assets/pictures/cheese.png);
    @include burger-ingredient(37);
}

.custom-burger__burger {
    background-image: url(../../assets/pictures/burger.png);
    @include burger-ingredient(37);
    background-size: cover;
}

.custom-burger__fish {
    background-image: url(../../assets/pictures/fish.png);
    @include burger-ingredient(37);
    background-size: cover;
}

.custom-burger__lettuce {
    background-image: url(../../assets/pictures/lettuce.png);
    @include burger-ingredient(27);

}